{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <title>Pero Travel - Путишествуй вместе с нами!</title>
</head>
<body>
    <main>
        <nav>
            <div class="left">
                <div class="logo">
                    <a href="#">
                        <img class="logo" src="{% static 'imgs/logo_white.png' %}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="links">
                    <a href="#">Главная</a>
                    <a href="#">О нас</a>
                    <a href="#">Контакты</a>
                </div>
            </div>
        </nav>
        
    </main>
</body>
</html>