/* Styles for the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../imgs/about_img.png"); /* Background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px; /* Height of the navigation bar */
    color: #fff; /* Text color */
    padding: 10px; /* Inner padding */
}

.logo img {
    height: 50px; /* Height of the logo */
    width: auto;
    max-height: 100px; /* Maximum height of the logo */
    max-width: auto;
    margin-right: 20px; /* Spacing between logo and links */
    max-width: 100px; /* Maximum width of the logo */
}

.links a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
    margin-right: 20px; /* Spacing between links */
}

.links a:hover {
    text-decoration: underline; /* Underline on hover */
}